{% extends 'layout.html' %}
{% block content %}

<!-- Product Details Section -->
<section id="product-details" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Coil Nails</h2>
                <p>Coil nails are used in the production of wood pallets and containers, Wooden Drum, floor boards and wooden structures that require high strength. The main feature is the large capacity reel and, therefore, increased the duration of the work.

                    A large number of nails in the reel, high performance, increase the productivity and industry and construction work quality.
                    
                    Using a pneumatic tool allows you to quickly and accurately make the laborious task of laying out the roof shingles and fixing the siding.
                    
                    </p>
                <!-- <p>Available Series: 10j, 23, 4j, 80</p> -->
                <!-- <p>Size: Small, Medium, Large</p> -->
                <img src="./../static/img/coil-nails-2.png" alt="Product Image" class="img-fluid">

                <!-- <img src="/../static/img/staples-3.jpeg" class="h-25 w-75 pt-5">  -->
            </div>
            <div class="col-md-6">
                <img src="./../static/img/coil-nails-1.png" alt="Product Image" class="img-fluid">
                <img src="/../static/img/nailer-gun.jpeg" class="ms-lg-3 mt-lg-2" style="width: 400px; height: 300px;"> 
                <!-- <img src="./../static/img/coil-nails-2.png" alt="Product Image" class="img-fluid"> -->
                <!-- <img src="./../static/img/staple-pin-4j.png" alt="Product Image" class="img-fluid">
                <img src="./../static/img/staple-pin-80.png" alt="Product Image" class="img-fluid"> -->

            </div>
        </div>
    </div>
</section>

<!-- Request a Quote Section -->
<section id="quote" class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Request a Quote</h2>
                <form action="" method="POST">
                    <div class="mb-3">
                        <label for="product-name" class="form-label">Product Name</label>
                        <input type="text" class="form-control bg-white" id="product-name" name="product-name" value="Coil Nail" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="tel" class="form-control" id="phone" name="phone" required>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Message</label>
                        <textarea class="form-control" id="message" name="message" rows="4" required placeholder="Please write the details of the product you want to get a quote of, which size, series, etc."></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}